<p>Good morning,</p>

<p>While reviewing accessibility compliance for a client, your site came up with a few issues that could expose you to ADA risk:</p>

<ul>
{{{accessibility_issues}}}
</ul>

<p>Want me to send over the details?</p>

<p>Best,<br><br>
Ryan Heger<br>
Founder, SimplCyber</p>

{{> _opt_out_footer}}
