<p>Good morning,</p>

<p>While reviewing email security for a client, I noticed <strong>{{domain}}</strong> is missing some authentication settings that make it easier for attackers to spoof your domain.</p>

<p><strong>Current gaps:</strong></p>
<ul>
  {{{email_security_issues}}}
</ul>

<p>Want me to send over the details?</p>

<p>Best,<br><br>
Ryan Heger<br>
Founder, SimplCyber</p>

{{> _opt_out_footer}}
