<p>Good morning,</p>

<p>While reviewing vulnerability data for a client, I noticed <strong>{{domain}}</strong> has some outdated WordPress plugins with known security issues.</p>

<p><strong>Affected plugins:</strong></p>
<ul>
  {{{wp_plugin_list}}}
</ul>

<p>Want me to send over the details?</p>

<p>Best,<br><br>
Ryan Heger<br>
Founder, SimplCyber</p>

{{> _opt_out_footer}}
